.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/fondo.jpg");
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  animation: moveBackground 20s linear infinite;
  z-index: 100;
}

.modal-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.modal-content {
  background: rgba(20, 20, 20, 0.8);
  border: 2px solid #ffcb05;
  border-radius: 10px;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  color: #fbda55;
  position: relative;
  box-shadow: 0 0 20px rgba(255, 203, 5, 0.5);
  z-index: 102;
}

.modal-content img {
  display: block;
  margin: 0 auto 1rem;
  width: 120px;
  transition: 0.5s;
}

.modal-content img:hover {
  transform: scale(1.7);
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 0.5rem;
}

.description {
  text-shadow: 0 0 2px #f9e48e;
  color: #ffcb05;
}

.title {
  text-shadow: 0 0 30px #fbda55;
  color: #ffcb05;
  font-size: 35px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 2rem;
  color: #ffcb05;
  cursor: pointer;
  border: 1px solid #ffcb05;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  transition: 0.3s;
}

.close-btn:hover {
  color: #1e1e1e;
  background-color: #ffcb05;
}

/* Teléfonos pequeños */
@media screen and (max-width: 480px) {
  .modal-overlay {
    animation: moveBackground 70s linear infinite;
  }
  .modal-content {
    max-width: 230px;
    height: 300px;
    font-size: 10px;
    margin: 10px;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    font-size: 22px;
  }

  .modal-content img {
    margin: 0 auto 1rem;
    width: 90px;
  }

  .title {
    font-size: 20px;
  }
}

/* Tablets y pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .modal-overlay {
    animation: moveBackground 40s linear infinite;
  }
  .modal-content {
    max-width: 380px;
    height: 400px;
  }
}
