/* FFCB05 amarillo 1F1F1F gris 000000 negro 141414 negro opaco*/

.pagination {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  border: 2px solid #ffcb05;
  border-radius: 7px;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fbda55;
  transition: 0.3s;
}

.pagination-btn:hover {
  background-color: #282828;
}

.pagination-btn:disabled {
  opacity: 0.5;
  background-color: #1f1f1f;
  border: 2px solid #4c4a4a;
  color: #4c4a4a;
  cursor: not-allowed;
}

.number-pag {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #ffcb05;
}

/* Teléfonos pequeños */
@media screen and (max-width: 480px) {
  .number-pag {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
}

/* Tablets y pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
