.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.pagination-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(119, 81, 233);
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.pagination-btn:hover {
  background-color: rgb(131, 94, 244);
}

.pagination-btn:disabled {
  opacity: 0.9;
  background-color: rgb(153, 119, 255);
  cursor: not-allowed;
}

.number-pag {
  font-weight: bold;
}

/* Teléfonos pequeños */
@media screen and (max-width: 480px) {
}

/* Tablets y pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
}
