.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffcb05;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  background-color: #1f1f1f;
  transition: 0.4s;
  text-decoration: none;
  color: #ffcb05;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(255, 203, 5, 0.5);
}

.card:hover {
  transform: scale(1.05);
  background-color: #282828;
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.831);
}

.card img {
  width: 100px;
  height: 100px;

  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.6)); /* iluminación */
  transition: transform 0.3s ease;
}

/* Teléfonos pequeños */
@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
  }
}

/* Tablets y pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    font-size: 11px;
  }
}
