body {
  background-color: #141414;
  color: var(--foreground);
  font-family: --font-geist-mono, Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.logo {
  width: 300px;
  height: 110px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.6));
}

.logo:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.6));
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(2, 2, 2, 0.8);
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  color: #555;
  margin: 2rem 0;
  width: 100%;
  height: 600px;
}

.p-loading {
  font-size: 20px;
  color: #ffcb05;
}

.nav {
  margin-top: 150px;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffcb05;
  font-size: 15px;
  height: 600px;
}

.reload-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #141414;
  color: #fbda55;
  border: 2px solid #ffcb05;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.reload-btn:hover {
  background-color: #303030;
}

/* Teléfonos pequeños */
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    padding-top: 70px;
  }

  .logo {
    width: 250px;
    height: 90px;
  }

  .main {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .loading {
    height: 600px;
  }

  .p-loading {
    font-size: 17px;
  }
}

/* Tablets y pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 100px;
  }

  .main {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .loading {
    height: 810px;
  }
}
